<html>
  <head>
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

  </head>
  <body>
    {% render 'header.liquid' %}
    {{ content_for_layout }}
    {{ 'scripts.js' | asset_url | script_tag }}
  </body>
</html>